{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Ratezzz - NLUUG 2012 presentations</title>
    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-icons.min.css" rel="stylesheet" media="screen">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="{% static "css/starrating.css" %}" media="screen">

</head>
<body>
<h1>Come rate some...</h1>
<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Presenters</th>
        <th>Rating</th>
        <th>My rating</th>
    </thead>
    <tbody>
        <tr>
            <td>Python</td>
            <td>Jan-Jaap Driessen, Remco Wendt</td>
            <td>5+</td>
            <td>
                <div class="well well-small">
                    <span class="rating">
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                        <span class="star"></span>
                    </span>
                </div>
            </td>
        </tr>
    </tbody>
</table>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script></body>
</html>